.todo-form{
    padding: 0 50px;
}
.todo-form h3{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
.todo-form form{
    display: flex;
    justify-content: center;
    gap: 4px;
}
.todo-form form input{
    flex: 1;
    outline: none;
    border: none;
    font-size: 20px;
    padding-left: 10px;
}
.todo-form form button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    outline: 1px solid white;
}